/* HOMEPAGE STYLING ---------------------*/ 

/* section 1: the hero at top of homepage*/ 

.hero{
  /* Using "linear-gradient" to add gradient to the image. This will make the text easier to read */
  background-image: linear-gradient(to bottom right, #0078d4, rgba(0, 0, 0, 0)), url("logo_scotpho_updated.png");

 /* Set a specific height/add padding */
  height: 50%;
  display: flex;
  padding-left:45px;
  padding-right:45px;
  padding-top:20px;
  padding-bottom:35px;

  /* Position and center the image to scale nicely on all screens */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* formatting the header within the hero*/
.hero h1{
  font-size: 36px;
  font-weight: 700;
  color:white;
  }
  
  
/* formatting the tagline within the hero*/
.hero h2{
 font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
  }



/* Section 2: Additional links ------------------*/ 

/* Footer container for bottom of homepage*/ 
.phs-purple-container{
  background-color:#3f3685; /* Make PHS purple to match PHS website footer*/
}



/* Add left border to groups of links on smaller screens to make easier to read */ 
@media (max-width: 800px) {
  .links-item > a {
   border-left-style:solid;
   padding-left:10px;
  }
}

.links-item > a{
  color:#d2cfeb;
  font-size:16px;
  text-decoration: none;
}

.bottom-links > a{
  color: #d2cfeb;
  font-size:16px;
}



/* Displays links in footer from top to bottom */ 
.links-item{
  display:flex;
  margin:10px;
  flex-direction:column;
  flex:1;
  color: #d2cfeb; /* Changes links 'groups' headers colorn to light purple*/ 
}



/* Styling bottom section of footer (i.e. links to stay in contact, newsletter sign up etc.*/
.bottom-links {
  display:flex;
  flex-direction:row;
  column-gap:20px;
  padding:15px;
}

